.courses {
    .btn-add-dialog {
        float: right;
    }
    
    .details-label {
        i {
            font-size: 0.7rem;
        }
    }

    .w100 {
        width: 100%;
    }

    .display-inline {
        div {
            display: inline-block;
        }
    }
}